/*
*
* style.css
* @author - Mazeen
* @date - 1 November, 2022
**/
.topline {
    display: inline-block;
    width: 25px;
    border-top:  #f50136 3px solid;
}
.social-title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}