/*
*
* style.css
* @author - Mazeen
* @date - 1 November, 2022
**/
.title {
    text-transform: uppercase;
    font-size: 36px;
    color: #000;
    margin: 0;
    margin-bottom: 30px;
}
.topline {
    display: inline-block;
    width: 25px;
    border-top:  #f50136 3px solid;
}