/*
*
* style.css
* @author - Mazeen
* @date - 1 November, 2022
**/
.about p {
    color: #838383;
    font-size: 14px;
    margin: 0 0 20px 0;
    line-height: 24px;
}
.about-card {
    background-color: #f0f2f6;
    max-width: 300px;
    padding: 20px;
    margin-right: 20px;
}
.about-card i {
    font-size: 50px;
    color: #f50136;
}
.about-card h4 {
    color: #000;
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
}
.about-card a {
    color: #f50136;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}
.about-card:hover {
    background-color: #f50136;
    transition: 0.4s;
}
.about-card:hover i {
    color: #fff;
    transition: 0.4s;
}
.about-card:hover h4 {
    color: #fff;
    transition: 0.4s;
}
.about-card:hover p {
    color: #fff;
    transition: 0.4s;
}
.about-card:hover a {
    color: #fff;
    transition: 0.4s;
}
.mb-30 {
    margin-bottom: 30px;
    justify-content: center;
}