/*
*
* style.css
* @author - Mazeen
* @date - 1 November, 2022
**/
.slider {
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
}
.cover-title {
    color: #fff;
    font-size: 42px;
    margin: 0;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.cover-title strong {
    color: #f50136;
    margin: 0;
    font-size: 90px;
}
.cover-date {
    color: #fff;
    margin: 0;
    font-size: 18px;
}
.btn-container {
    margin-top: 30px;
} 