/*
*
* style.css
* @author - Mazeen
* @date - 1 November, 2022
**/
.partner {
    background-color: #f0f2f6;
}
.partner img {
    max-width: 130px;
    margin: 0 auto;
    opacity: 0.5;
}
.partner img:hover {
    transition: 0.5s;
    opacity: 1;
}
.mb-40 {
    margin-bottom: 40px;
}
.mt-40 {
    margin-top: 40px;
}